In [11]:
import scipy.io as spio
from pprint import pprint as pprint
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import pandas as pd
from collections import defaultdict
from tqdm import tqdm
from sklearn.preprocessing import minmax_scale

## Testing Dataloader

In [12]:
def chunks(arr, size):
    ans = []
    i = 0
    while i<len(arr):
        ans.append(arr[i:i+size])
        i+= size
    return ans

In [13]:
def extract_label(data):
    return list(data.iloc[0,0])

In [14]:
def extract_val(data):
    arr = []
    for index, row in data.iterrows():
        tmp = []
        for c in data:
            tmp.append(row[c])
        arr+=tmp
    return chunks(arr,280)

In [15]:

def norm(li):
    sc = minmax_scale(li)
    res = 2*sc - 1
    return res

In [ ]:
dir = "pydata/"
def dataloader():
    final = defaultdict(list)
    for a in tqdm(range(1,49)):
        val = pd.read_csv(dir+str(a)+"val.csv",header=None)
        lab = pd.read_csv(dir+str(a)+"lab.csv",header=None)
        features = extract_val(val)
        labels = extract_label(lab)
        for i in range(len(features)):
            final['beat'].append(features[i])
            final['label'].append(labels[i])
    df = pd.DataFrame(final)
    return df

# # normalized data 
# dir = "pydata/"
# def dataloader():
#     final = defaultdict(list)
#     for a in tqdm(range(1,49)):
#         val = pd.read_csv(dir+str(a)+"val.csv",header=None)
#         lab = pd.read_csv(dir+str(a)+"lab.csv",header=None)
#         features = extract_val(val)
#         labels = extract_label(lab)
#         for i in range(len(features)):
#             features[i] = norm(features[i])
#             final['beat'].append(features[i])
#             final['label'].append(labels[i])
#     df = pd.DataFrame(final)
#     return df

In [17]:
df = dataloader()

100%|██████████| 48/48 [01:22<00:00,  1.71s/it]

In [7]:
df

                                                     beat label
0       [0.26918147423779093, 0.26918147423779093, 0.2...     N
1       [0.1832203990331749, 0.17341715331922836, 0.17...     N
2       [0.23476444861550208, 0.22555280246244272, 0.2...     N
3       [0.21500271293652734, 0.20705316591109002, 0.1...     N
4       [0.18506953391131553, 0.17806481358403536, 0.1...     N
...                                                   ...   ...
109333  [0.10422690834508638, 0.10398852029973932, 0.0...     N
109334  [0.08373762670004198, 0.08388980658338184, 0.0...     N
109335  [0.12227589826942192, 0.12279408106153962, 0.1...     N
109336  [0.116529510787731, 0.1106296085097527, 0.0997...     N
109337  [0.07700322598914366, 0.06598676144251532, 0.0...     N

[109338 rows x 2 columns]

In [7]:
df

                                                     beat label
0       [0.834882169297958, 0.834882169297958, 0.83488...     N
1       [0.0839561792550694, 0.0063667072117798, -0.01...     N
2       [0.0596260986687957, -0.0117930401591989, -0.0...     N
3       [0.185550705508234, 0.129036836193696, 0.07666...     N
4       [0.135853149148317, 0.0840519827417409, 0.0577...     N
...                                                   ...   ...
109333  [-0.175323057865841, -0.176776468285615, -0.20...     N
109334  [-0.0865255525923312, -0.0855770093196608, -0....     N
109335  [0.0171849704251227, 0.0203962926914131, -0.03...     N
109336  [-0.114785796096422, -0.149206431397185, -0.21...     N
109337  [-0.0994044464748319, -0.165688216373462, -0.1...     N

[109338 rows x 2 columns]

In [ ]:
df.to_pickle("raw_data.pkl")

In [19]:
# saving images

df_list = [(_,d) for _, d in df.groupby(['label'])]

df_list

[(('F',),
                                                       beat label
  17814   [0.8725762114276252, 0.8404610966207844, 0.843...     F
  18368   [0.4659914694638414, 0.4605670089412668, 0.436...     F
  19131   [-0.4025558786392974, -0.4019111807663347, -0....     F
  19153   [-0.46576258394926096, -0.46471851846457446, -...     F
  28430   [0.7103805329522126, 0.6918340991115728, 0.662...     F
  ...                                                   ...   ...
  104282  [0.46666701192518567, 0.4671543848901667, 0.46...     F
  104594  [-0.3047009259325003, -0.3085243778049208, -0....     F
  104974  [-0.6089082375947268, -0.6089082375947268, -0....     F
  105125  [0.302951490040247, 0.3073785133907492, 0.3163...     F
  106337  [-0.5701775608744999, -0.5725141602906333, -0....     F

  [802 rows x 2 columns]),
 (('N',),
                                                       beat label
  0       [-0.46163705152441814, -0.46163705152441814, -...     N
  1       [-0.6335592019336502, -0.6531656933615433, -0....     N
  2       [-0.5304711027689959, -0.5488943950751146, -0....     N
  3       [-0.5699945741269453, -0.58589366817782, -0.60...     N
  4       [-0.6298609321773689, -0.6438703728319293, -0....     N
  ...                                                   ...   ...
  109333  [-0.7915461833098272, -0.7920229594005214, -0....     N
  109334  [-0.832524746599916, -0.8322203868332363, -0.8...     N
  109335  [-0.7554482034611562, -0.7544118378769208, -0....     N
  109336  [-0.766940978424538, -0.7787407829804947, -0.8...     N
  109337  [-0.8459935480217127, -0.8680264771149694, -0....     N

  [90502 rows x 2 columns]),
 (('Q',),
                                                      beat label
  3168   [0.897221795817198, 0.8841357986674032, 0.8615...     Q
  4133   [-0.5919976745766309, -0.5919976745766309, -0....     Q
  4134   [-0.3909624105002364, -0.3914438760371477, -0....     Q
  4135   [-0.41923444289950385, -0.4393735941412371, -0...     Q
  4136   [-0.3274502122618428, -0.3361471499374704, -0....     Q
  ...                                                  ...   ...
  84162  [0.6739395132806196, 0.6735111813021564, 0.661...     Q
  84163  [0.6825167591760426, 0.6825805071990667, 0.682...     Q
  84164  [0.7474082810098381, 0.7393813580347444, 0.732...     Q
  84165  [0.6968338963665222, 0.69172348377738, 0.67642...     Q
  84166  [0.675497303791937, 0.670519722951171, 0.65874...     Q

  [8031 rows x 2 columns]),
 (('S',),
                                                       beat label
  6       [-0.5895393880668016, -0.6023090343031063, -0....     S
  229     [-0.6350523808985249, -0.6569059967420106, -0....     S
  257     [-0.5985256798430081, -0.5971314895129275, -0....     S
  341     [-0.559163801663498, -0.5563980516743887, -0.5...     S
  440     [-0.5179220778165023, -0.5067854060654299, -0....     S
  ...                                                   ...   ...
  107929  [-0.6701913781378535, -0.6718828870027368, -0....     S
  107930  [-0.6747694897196816, -0.6742510768292567, -0....     S
  107931  [-0.6433077993998001, -0.6415173429644476, -0....     S
  107932  [-0.690053186338195, -0.6897707378298004, -0.6...     S
  107933  [-0.7608779550347693, -0.7571034382226318, -0....     S

  [2777 rows x 2 columns]),
 (('V',),
                                                       beat label
  1905    [0.30091646235066816, 0.30091646235066816, 0.3...     V
  4248    [0.5344507360739157, 0.5348748296104904, 0.535...     V
  4834    [0.3888750904070377, 0.38490757138328147, 0.38...     V
  5843    [0.6756551935822841, 0.6764457701761244, 0.676...     V
  6031    [0.6715934848360257, 0.6608307837010894, 0.641...     V
  ...                                                   ...   ...
  106580  [0.3038924514075667, 0.2961600399499418, 0.286...     V
  106584  [0.30224864353926306, 0.30405571335239334, 0.3...     V
  108167  [-0.42087681314139624, -0.4305038002348758, -0...     V
  108567  [-0.5275320568264035, -0.5360303816202878, -0....     V
  109196  [-0.43391141163096214, -0.4454562326871372, -0...     V

  [7226 rows x 2 columns])]

In [20]:
# saving the separated dataframes
for label,d in df_list:
    d.to_pickle("data/"+label[0]+"_norm.pkl")

In [21]:
dir = "images/F/"
counter = 1
for i in tqdm(df_list[0][1]['beat']):
    fig, ax = plt.subplots()
    ax.plot(i)
    fig.patch.set_visible(False)
    ax.axis('off')
    ax.figure.savefig(dir+str(counter)+".png")
    counter+=1
    plt.close()

100%|██████████| 802/802 [00:30<00:00, 26.43it/s]

In [22]:
## ram intensive

dir = "images/N/"
counter = 1
for i in tqdm(df_list[1][1]['beat']):
    fig, ax = plt.subplots()
    ax.plot(i)
    fig.patch.set_visible(False)
    ax.axis('off')
    ax.figure.savefig(dir+str(counter)+".png")
    counter+=1
    plt.close()

100%|██████████| 90502/90502 [37:11<00:00, 40.55it/s]

In [23]:
dir = "images/Q/"
counter = 1
for i in tqdm(df_list[2][1]['beat']):
    fig, ax = plt.subplots()
    ax.plot(i)
    fig.patch.set_visible(False)
    ax.axis('off')
    ax.figure.savefig(dir+str(counter)+".png")
    counter+=1
    plt.close()

100%|██████████| 8031/8031 [04:35<00:00, 29.12it/s]

In [24]:
dir = "images/S/"
counter = 1
for i in tqdm(df_list[3][1]['beat']):
    fig, ax = plt.subplots()
    ax.plot(i)
    fig.patch.set_visible(False)
    ax.axis('off')
    ax.figure.savefig(dir+str(counter)+".png")
    counter+=1
    plt.close()

100%|██████████| 2777/2777 [01:47<00:00, 25.86it/s]

In [25]:
dir = "images/V/"
counter = 1
for i in tqdm(df_list[4][1]['beat']):
    fig, ax = plt.subplots()
    ax.plot(i)
    fig.patch.set_visible(False)
    ax.axis('off')
    ax.figure.savefig(dir+str(counter)+".png")
    counter+=1
    plt.close()

100%|██████████| 7226/7226 [03:18<00:00, 36.33it/s]